@inject IModalService Modal
@inject IParagraphNoteClientService _paragraphNoteClientService

<button id="add-paragraph-note-button" class="add-paragraph-note" @onclick="ShowAddParagraphNoteModal">+</button>
<h3>Paragraph Notes:</h3>
@foreach (ParagraphNoteModel note in GetCurrentParagraphNotes())
{
    <hr />
    <div class="note-holder">
        <p>@note.Content</p>
    </div>
    <button class="button-action" @onclick="() => ShowEditParagraphNoteModal(note)">Edit</button>
    <button class="button-action" @onclick="() => DeleteParagraphNote(note.Id)">Delete</button>
    <button class="button-action" @onclick="() => ShowManageTagsModal(note)">Manage Tags</button>
}

@code {
    [Parameter]
    public List<ParagraphNoteModel> ParagraphNotes { get; set; }
    [Parameter]
    public EventCallback<List<ParagraphNoteModel>> ParagraphNotesChanged { get; set; }
    [Parameter]
    public int bookAnalysisId { get; set; }
    [Parameter]
    public int currentCount { get; set; }
    [Parameter]
    public int lastClickedTextNodeIndex { get; set; }
    [Parameter]
    public List<TagModel> Tags { get; set; }

    private async Task ShowAddParagraphNoteModal()
    {
        var parameters = new ModalParameters()
            .Add(nameof(AddParagraphNoteComponent.ParagraphNotes), ParagraphNotes)
            .Add(nameof(AddParagraphNoteComponent.pageNumber), currentCount)
            .Add(nameof(AddParagraphNoteComponent.textNodeIndex), lastClickedTextNodeIndex)
            .Add(nameof(AddParagraphNoteComponent.bookAnalysisId), bookAnalysisId);

        var modal = Modal.Show<AddParagraphNoteComponent>("Add Paragraph Note", parameters);
        await modal.Result;
    }

    private List<ParagraphNoteModel> GetCurrentParagraphNotes()
    {
        return ParagraphNotes?
        .Where(p => p.TextNodeNumber == lastClickedTextNodeIndex && p.PageNumber == currentCount).ToList()
        ?? new List<ParagraphNoteModel>();
    }

    private async Task ShowEditParagraphNoteModal(ParagraphNoteModel note)
    {
        var parameters = new ModalParameters().Add(nameof(EditParagraphNoteComponent.ParagraphNote), note);
        var modal = Modal.Show<EditParagraphNoteComponent>("Edit Paragraph Note", parameters);
        await modal.Result;
    }

    private async Task DeleteParagraphNote(int noteId)
    {
        await _paragraphNoteClientService.DeleteNote(noteId, bookAnalysisId);
        var noteToRemove = ParagraphNotes.FirstOrDefault(n => n.Id == noteId);
        ParagraphNotes.Remove(noteToRemove);
    }

    private async Task ShowManageTagsModal(ParagraphNoteModel note)
    {
        var parameters = new ModalParameters()
        .Add(nameof(ManageTagsComponent.bookAnalysisId), bookAnalysisId)
        .Add(nameof(ManageTagsComponent.Tags), Tags)
        .Add(nameof(ManageTagsComponent.taggedItem), note)
        .Add(nameof(ManageTagsComponent.tagManagerClientService), _paragraphNoteClientService);

        var modal = Modal.Show<ManageTagsComponent>("Manage Paragraph Note Tags", parameters);
        await modal.Result;
    }
}
