@page "/a"

<PageTitle>Index</PageTitle>

<ErrorBoundary @ref="@errorBoundary" Context="Exception"> 
    <ChildContent>
        <BookApp.Client.Components.BookLoader></BookApp.Client.Components.BookLoader>
    </ChildContent>
    <ErrorContent>
        <div class="alert bg-danger text-white alert-dismissible">
            Index Error Boundary: @Exception.GetType(): @Exception.Message
            <button class="btn-close" @onclick="@errorBoundary.Recover"></button>
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary errorBoundary;
}
