@page "/"


<PageTitle>Index</PageTitle>

<div class="aaaaaaaaaaaaaaa">Hello</div>

<div style="width: 160px;
    height: 80px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;">
    AAAAAAAAAAAAA
</div>

<hr />

<div class="book-analysis-listing">
    <b>Analysis Title: </b>
    <hr />
    <b>Book Hash: </b>
    <hr />
    <b>Book Title: </b>
    <hr />
    <b>Authors:</b>
    <hr />
    <button class="button-action">Load analysis</button>
</div>

<ErrorBoundary @ref="@errorBoundary" Context="Exception">
    <ChildContent>
        <BookApp.Client.Components.BookLoader></BookApp.Client.Components.BookLoader>
    </ChildContent>
    <ErrorContent>
        <div class="alert bg-danger text-white alert-dismissible">
            Index Error Boundary: @Exception.GetType(): @Exception.Message
            <button class="btn-close" @onclick="@errorBoundary.Recover"></button>
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary errorBoundary;
}
