@page "/"
@using BookApp.Client.Services
@using BookApp.Shared.Data
@inject HttpClient Http

<button class="btn btn-primary" @onclick=RegisterUser>Register User</button>
<button class="btn btn-primary" @onclick=LoginUser>Login User</button>

@code {
    int id;
    Random random = new();
    public async Task RegisterUser()
    {
        int newId = random.Next();
        id = newId;
        RegisterRequest registerRequest = new RegisterRequest { Email = $"a@a{newId}.pl", Password = "@Aa1234", UserName = "User" + newId };
        var response = await Http.PostAsJsonAsync<RegisterRequest>($"Account/Register", registerRequest);
        var serviceResponse = await HelperService.ReadServiceResponseContent(response);
        Console.WriteLine(serviceResponse.Message);
    }

    public async Task LoginUser()
    {
        LoginRequest loginRequest = new LoginRequest { UserName = "User" + id, Password = "@Aa1234" };
        var response = await Http.PostAsJsonAsync<LoginRequest>($"Account/Login", loginRequest);
        if(response.IsSuccessStatusCode)
        {
            var user = await HelperService.ReadServiceResponseContent<LoginResponse>(response);
            Console.WriteLine(user.Token);
            Console.WriteLine(user.User.Username);
        }

    }
}
