@using Blazored.Modal
@using BookApp.Client.Services
@using BookApp.Client.Services.Interfaces.Notes
@using BookApp.Shared.Models.ClientModels
@using BookApp.Shared.Models.ClientModels.Notes
@inject IAnalysisNoteClientService _analysisNoteClientService

<BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent ChildComponentName="Edit analysis">
    <ChildContent>
        <EditForm Model="@newAnalysisNote" OnValidSubmit="@CreateNote" class="form">
            <DataAnnotationsValidator />
            <ValidationSummary class="validation-summary" />

            <div class="form-group">
                <label for="AnalysisTitle">Note content:</label>
                <InputText @bind-Value="newAnalysisNote!.Content" class="form-control" />
            </div>

            @if (awaitingResponse)
            {
                <p>Creating note...</p>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Submit</button>
            }
        </EditForm>
    </ChildContent>
</BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent>

<button @onclick="Close">Close</button>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public List<AnalysisNoteModel> AnalysisNotes { get; set; }

    [Parameter]
    public int bookAnalysisId { get; set; }

    private bool awaitingResponse = false;

    private AnalysisNoteModel newAnalysisNote { get; set; } = new();

    private async Task Close() => await BlazoredModal.CloseAsync();

    public async Task CreateNote()
    {
        awaitingResponse = true;

        newAnalysisNote.BookAnalysisId = bookAnalysisId;
        
        var response = await _analysisNoteClientService.AddAnalysisNote(newAnalysisNote);
        var newNote = await HelperService.HandleResponse<AnalysisNoteModel>(response);
        AnalysisNotes.Add(newNote);

        await Close();
    }

    protected override void OnInitialized()
    {
        newAnalysisNote = new AnalysisNoteModel();
    }
}
