@using Blazored.Modal
@using BookApp.Client.Services
@using BookApp.Client.Services.Interfaces.Notes
@using BookApp.Shared.Models.ClientModels
@using BookApp.Shared.Models.ClientModels.Notes
@inject IParagraphNoteClientService _paragraphNoteClientService

<BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent ChildComponentName="Edit analysys">
<ChildContent>
<EditForm Model="@newParagraphNote" OnValidSubmit="@CreateNote" class="form">
    <DataAnnotationsValidator />
    <ValidationSummary class="validation-summary" />

    <div class="form-group">
        <label for="AnalysisTitle">Note content:</label>
        <InputText @bind-Value="newParagraphNote!.Content" class="form-control" />
    </div>

    @if (awaitingResponse)
    {
        <p>Creating note...</p>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</EditForm>
</ChildContent>
</BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent>

<button @onclick="Close">Close</button>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public List<ParagraphNoteModel> ParagraphNotes { get; set; }

    [Parameter]
    public int bookAnalysisId { get; set; }

    [Parameter]
    public int pageNumber { get; set; }

    [Parameter]
    public int textNodeIndex { get; set; }

    private bool awaitingResponse = false;

    private ParagraphNoteModel newParagraphNote { get; set; } = new();

    private async Task Close() => await BlazoredModal.CloseAsync();


    public async Task CreateNote()
    {
        awaitingResponse = true;

        newParagraphNote.BookAnalysisId = bookAnalysisId;
        newParagraphNote.TextNodeNumber = textNodeIndex;
        newParagraphNote.PageNumber = pageNumber;

        var response = await _paragraphNoteClientService.AddParagraphNote(newParagraphNote);
        var newNote = await HelperService.HandleResponse<ParagraphNoteModel>(response);
        ParagraphNotes.Add(newNote);

        await Close();
    }

    protected override void OnInitialized()
    {
        newParagraphNote = new ParagraphNoteModel();
    }
}
