@using BookApp.Client.Services
@using BookApp.Client.Services.Interfaces.Notes
@using BookApp.Shared.Models.ClientModels
@using BookApp.Shared.Models.ClientModels.Notes
@inject IParagraphNoteClientService _paragraphNoteClientService

<EditForm Model="@newParagraphNote" OnValidSubmit="@CreateNote" class="form">
    <DataAnnotationsValidator />
    <ValidationSummary class="validation-summary" />

    <div class="form-group">
        <label for="AnalysisTitle">Note content:</label>
        <InputText @bind-Value="newParagraphNote!.Content" class="form-control" />
    </div>

    @if (awaitingResponse)
    {
        <p>Creating Analysis...</p>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</EditForm>

@code {
    [Parameter]
    public BookAnalysisModel bookAnalysis { get; set; }

    [Parameter]
    public EventCallback<BookAnalysisModel> bookAnalysisChanged { get; set; }

    [Parameter]
    public int pageNumber { get; set; }

    [Parameter]
    public int textNodeIndex { get; set; }

    [Parameter]
    public bool showAddParagraphNote { get; set; }

    [Parameter]
    public EventCallback<bool> showAddParagraphNoteChanged { get; set; }

    private bool awaitingResponse = false;

    private ParagraphNoteModel newParagraphNote { get; set; } = new();

    public async Task CreateNote()
    {
        awaitingResponse = true;

        newParagraphNote.BookAnalysisId = bookAnalysis.Id;
        newParagraphNote.TextNodeNumber = textNodeIndex;
        newParagraphNote.PageNumber = pageNumber;

        var response = await _paragraphNoteClientService.AddParagraphNote(newParagraphNote);
        var newNote = await HelperService.HandleResponse<ParagraphNoteModel>(response);
        bookAnalysis.ParagraphNotes.Insert(0, newNote);
        showAddParagraphNote = false;

        await bookAnalysisChanged.InvokeAsync(bookAnalysis);
        await showAddParagraphNoteChanged.InvokeAsync(showAddParagraphNote);

        awaitingResponse = false;
    }
}
