@using BookApp.Client.Delegates
@inject IAnalysisNoteClientService analysisNoteService

<div id="noteContainer" class="vertical-bar">

    <ErrorHandlerComponent ChildComponentName="Highlight Notes">
        <ChildContent>
            <HighlightNoteComponent @bind-HighlightNotes="HighlightNotes" bookAnalysisId="bookAnalysisId" currentHighlightId="currentHighlightId" Tags="Tags" />
        </ChildContent>
    </ErrorHandlerComponent>

    <hr />

    <ErrorHandlerComponent ChildComponentName="Paragraph Notes">
        <ChildContent>
            <ParagraphNoteComponent @bind-ParagraphNotes="ParagraphNotes" bookAnalysisId="bookAnalysisId" currentCount="currentCount"
                                    lastClickedTextNodeIndex="lastClickedTextNodeIndex" Tags="Tags" />
        </ChildContent>
    </ErrorHandlerComponent>

    <hr />

    <ErrorHandlerComponent ChildComponentName="Chapter Notes">
        <ChildContent>
            <ChapterNoteComponent @bind-ChapterNotes="ChapterNotes" bookAnalysisId="bookAnalysisId" currentCount="currentCount" Tags="Tags" />
        </ChildContent>
    </ErrorHandlerComponent>

    <hr />

@*    <ErrorHandlerComponent ChildComponentName="Analysis Notes">
        <ChildContent>
            <AnalysisNoteComponent @bind-AnalysisNotes="AnalysisNotes" bookAnalysisId="bookAnalysisId" Tags="Tags"/>
        </ChildContent>
    </ErrorHandlerComponent>*@

    <ErrorHandlerComponent ChildComponentName="Analysis Notes">
        <ChildContent>
            <NotesListingComponent AnalysisNotes="AnalysisNotes" bookAnalysisId="bookAnalysisId" Tags="Tags" newNote="newNote" _noteClientService="analysisNoteService" 
                createNoteDelegate="analysisCreateNoteDelegate"/>
        </ChildContent>
    </ErrorHandlerComponent>

</div>

@code {
    [Parameter]
    public IEnumerable<AnalysisNoteModel> AnalysisNotes { get; set; }
    private AnalysisNoteModel newNote = new();
    [Parameter]
    public List<ChapterNoteModel> ChapterNotes { get; set; }
    [Parameter]
    public EventCallback<List<ChapterNoteModel>> ChapterNotesChanged { get; set; }

    [Parameter]
    public List<ParagraphNoteModel> ParagraphNotes { get; set; }
    [Parameter]
    public EventCallback<List<ParagraphNoteModel>> ParagraphNotesChanged { get; set; }

    [Parameter]
    public List<HighlightNoteModel> HighlightNotes { get; set; }
    [Parameter]
    public EventCallback<List<HighlightNoteModel>> HighlightNotesChanged { get; set; }

    [Parameter]
    public List<TagModel> Tags { get; set; }

    [Parameter]
    public int currentHighlightId { get; set; }

    [Parameter]
    public int bookAnalysisId { get; set; }

    [Parameter]
    public int currentCount { get; set; }

    [Parameter]
    public int lastClickedTextNodeIndex { get; set; }

    public CreateNoteDelegate analysisCreateNoteDelegate => CreateAnalysisNoteModel;

    public INoteClientModel CreateAnalysisNoteModel(INoteClientModel note)
    {
        AnalysisNoteModel newNote = (AnalysisNoteModel)note;
        newNote.BookAnalysisId = bookAnalysisId;
        return newNote;
    }
}
