@using Blazored.Modal
@using Blazored.Modal.Services
@using BookApp.Client.Services
@using BookApp.Client.Services.Interfaces
@using BookApp.Client.Services.Interfaces.Notes
@using BookApp.Shared.Models.ClientModels
@using BookApp.Shared.Models.ClientModels.Notes

<div id="noteContainer" class="vertical-bar">

    <BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent ChildComponentName="Highlight Notes">
        <ChildContent>
            <HighlightNoteComponent @bind-HighlightNotes="HighlightNotes" bookAnalysisId="bookAnalysisId" currentHighlightId="currentHighlightId" />
        </ChildContent>
    </BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent>

    <hr />

    <BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent ChildComponentName="Paragraph Notes">
        <ChildContent>
            <ParagraphNoteComponent @bind-ParagraphNotes="ParagraphNotes" bookAnalysisId="bookAnalysisId" currentCount="currentCount"
            lastClickedTextNodeIndex="lastClickedTextNodeIndex"/>
        </ChildContent>
    </BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent>

    <hr />

    <BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent ChildComponentName="Chapter Notes">
        <ChildContent>
            <ChapterNoteComponent @bind-ChapterNotes="ChapterNotes" bookAnalysisId="bookAnalysisId" currentCount="currentCount" />
        </ChildContent>
    </BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent>

    <hr />

    <BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent ChildComponentName="Analysis Notes">
        <ChildContent>
            <AnalysisNoteComponent @bind-AnalysisNotes="AnalysisNotes" bookAnalysisId="bookAnalysisId" />
        </ChildContent>
    </BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent>

</div>

@code {
    [Parameter]
    public List<AnalysisNoteModel> AnalysisNotes { get; set; }
    [Parameter]
    public EventCallback<List<AnalysisNoteModel>> AnalysisNotesChanged { get; set; }

    [Parameter]
    public List<ChapterNoteModel> ChapterNotes { get; set; }
    [Parameter]
    public EventCallback<List<ChapterNoteModel>> ChapterNotesChanged { get; set; }

    [Parameter]
    public List<ParagraphNoteModel> ParagraphNotes { get; set; }
    [Parameter]
    public EventCallback<List<ParagraphNoteModel>> ParagraphNotesChanged { get; set; }

    [Parameter]
    public List<HighlightNoteModel> HighlightNotes { get; set; }
    [Parameter]
    public EventCallback<List<HighlightNoteModel>> HighlightNotesChanged { get; set; }

    [Parameter]
    public int currentHighlightId { get; set; }

    [Parameter]
    public int bookAnalysisId { get; set; }

    [Parameter]
    public int currentCount { get; set; }

    [Parameter]
    public int lastClickedTextNodeIndex { get; set; }
}
