<ErrorBoundary @ref="@errorBoundary" Context="Exception">
    <ChildContent>
        @ChildContent
    </ChildContent>
    <ErrorContent>
        <div class="alert bg-danger text-white alert-dismissible">
            @ChildComponentName Error: @Exception.Message
            <button class="btn-close" @onclick="@errorBoundary.Recover"></button>
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary errorBoundary;
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ChildComponentName { get; set; }
}
