@page "/login"
@inject NavigationManager Navigation
@inject IAccountClientService accountService

<EditForm Model="@loginRequest" OnValidSubmit="@LoginUser" class="form">
    <DataAnnotationsValidator />
    <ValidationSummary class="validation-summary" />

    <div class="form-group">
        <label for="loginUserName">Username</label>
        <InputText @bind-Value="loginRequest!.UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="loginPassword">Password</label>
        <InputText @bind-Value="loginRequest!.Password" class="form-control" />
    </div>

    @if(awaitingResponse)
    {
        <p>Logging in...</p>
    }
    else
    {
        <button type="submit" class="button-action">Submit</button>
    }
</EditForm>

@code {
    public LoginRequest loginRequest { get; set; } = new LoginRequest { UserName = "User3", Password = "@Aa12345" };
    bool awaitingResponse = false;

    public async Task LoginUser()
    {
        awaitingResponse = true;
        await accountService.Login(loginRequest);
        awaitingResponse = false;

        Navigation.NavigateTo("/redirect");
    }
}
