@page "/redirect"
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<h1>Redirecting...</h1>

@code {
    private string? redirectLink = "";
    protected async override Task OnInitializedAsync()
    {
        var uri = new Uri(Navigation.Uri);
        redirectLink = uri.Query.TrimStart('?');
        Navigation.NavigateTo(redirectLink);
        await jsRuntime.InvokeVoidAsync("reloadPage");
    }
}
