@inject IChapterNoteClientService _chapterNoteClientService

<BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent ChildComponentName="Edit chapter">
    <ChildContent>
        <EditForm Model="@newChapterNote" OnValidSubmit="@CreateNote" class="form">
            <DataAnnotationsValidator />
            <ValidationSummary class="validation-summary" />

            <div class="form-group">
                <label for="ChapterTitle">Note content:</label>
                <InputText @bind-Value="newChapterNote!.Content" class="form-control" />
            </div>

            @if (awaitingResponse)
            {
                <p>Creating note...</p>
            }
            else
            {
                <button type="submit" class="button-action">Submit</button>
            }
        </EditForm>
    </ChildContent>
</BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent>

<button @onclick="Close">Close</button>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public List<ChapterNoteModel> ChapterNotes { get; set; }

    [Parameter]
    public int bookAnalysisId { get; set; }

    [Parameter]
    public int pageNumber { get; set; }

    private bool awaitingResponse = false;

    private ChapterNoteModel newChapterNote { get; set; } = new();

    private async Task Close() => await BlazoredModal.CloseAsync();

    public async Task CreateNote()
    {
        awaitingResponse = true;

        newChapterNote.BookAnalysisId = bookAnalysisId;
        newChapterNote.ChapterNumber = pageNumber;

        var newNote = await _chapterNoteClientService.AddNote(newChapterNote);

        await Close();
    }

    protected override void OnInitialized()
    {
        newChapterNote = new ChapterNoteModel();
    }
}
