@inject IChapterNoteClientService _chapterNoteClientService

<BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent ChildComponentName="Edit chapter">
    <ChildContent>
        <EditForm Model="@currentChapterNote" OnValidSubmit="@EditNote" class="form">
            <DataAnnotationsValidator />
            <ValidationSummary class="validation-summary" />

            <div class="form-group">
                <label for="ChapterTitle">Note content:</label>
                <InputText @bind-Value="currentChapterNote!.Content" class="form-control" />
            </div>

            @if (awaitingResponse)
            {
                <p>Editing note...</p>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Submit</button>
            }
        </EditForm>
    </ChildContent>
</BookApp.Client.Components.ErrorHandler.ErrorHandlerComponent>

<button @onclick="Close">Close</button>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public ChapterNoteModel ChapterNote { get; set; }

    private bool awaitingResponse = false;

    private ChapterNoteModel currentChapterNote { get; set; } = new();

    private async Task Close() => await BlazoredModal.CloseAsync();

    public async Task EditNote()
    {
        awaitingResponse = true;

        var editedNote = await _chapterNoteClientService.EditNote(currentChapterNote);
        ChapterNote = editedNote;

        await Close();
    }

    protected override void OnInitialized()
    {
        currentChapterNote = ChapterNote;
    }
}
