@using BookApp.Client.Other
@inherits LayoutComponentBase

<link rel="stylesheet" type="text/css" href="css/styles.css?version=0.1" />

<div class="page">
    <div class="sidebar-container">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            <ErrorHandlerComponent ChildComponentName="Page">
                <ChildContent>
                    @Body
                </ChildContent>
            </ErrorHandlerComponent>
        </article>
    </main>
</div>

