@using BookApp.Client.Other
@inherits LayoutComponentBase

<link rel="stylesheet" type="text/css" href="css/styles.css?version=0.1" />

<div>
    <div style="position:sticky; z-index:9999; top:0; height:10%;">
        <NavMenu />
    </div>
    <ErrorHandlerComponent ChildComponentName="Page">
        <ChildContent>
            <div style="">
                @Body
            </div>
        </ChildContent>
    </ErrorHandlerComponent>
</div>