@using BookApp.Client.Pages.Identity
@inject IJSRuntime JSRuntime

<style>
    /* wwwroot/css/styles.css */
    .fixed-navbar {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: darkblue;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        z-index: 100; /* Ensure it's above other content */
    }

        /* Adjust the styling as needed */
        .fixed-navbar ul {
            list-style: none;
            padding: 0;
        }

            .fixed-navbar ul li {
                display: inline;
                margin: 0 20px;
            }

                .fixed-navbar ul li a {
                    text-decoration: none;
                    color: #fff;
                }

    .navbar-vertical {
        position:fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 5%;
        background-color: #333; /* Background color of the vertical bar */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #fff; /* Icon color */
        font-size: 24px; /* Icon size */
    }


    .icon {
        cursor: pointer;
        padding: 10px;
        position: relative;
    }

        .icon:hover .tooltip {
            opacity: 1;
        }

    .tooltip {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .home-icon {
        background-color: #f00; /* Background color for the home icon */
    }

    .person-icon {
        background-color: #0f0; /* Background color for the person icon */
    }

    .door-icon {
        background-color: #00f; /* Background color for the door icon */
    }

</style>

<div id="navbar" class="navbar-vertical ">
    <ul>
        <li><a a href="/" class="icon home-icon">🏠<span class="tooltip">Home</span></a></li>
        <li><a a href="/count" class="icon oi-sun">🏠<span class="tooltip">Counter</span></a></li>
        @if (userLoggedIn)
        {
            <li><a class="icon person-icon">👤<span class="tooltip">Profile: @currentUsername</span></a></li>
            <li><a a href="/logout" class="icon door-icon">🚪<span class="tooltip">Log Out</span></a></li>
        }
        else
        {
            <li><a a href="/register" class="icon person-icon">👤<span class="tooltip">Register</span></a></li>
            <li><a href="/login" class="icon door-icon">🚪<span class="tooltip">Login</span></a></li>
        }
    </ul>
</div>

@code {
    bool userLoggedIn = false;
    string currentUsername = "";

    private async Task<string> GetItemFromLocalStorage(string itemName)
    {
        return await JSRuntime.InvokeAsync<string>("localStorageFunctions.getItem", itemName);
    }

    protected async override Task OnInitializedAsync()
    {
        userLoggedIn = await GetItemFromLocalStorage("currentUserToken") != null;
        if (userLoggedIn)
        {
            currentUsername = await GetItemFromLocalStorage("currentUsername");
        }
    }
}
