.button-action {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.left-arrow-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

    .left-arrow-button::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid white;
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

.right-arrow-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

    .right-arrow-button::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid white;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

.aaaaaaaaaaaaaaa {
    width: 160px;
    height: 80px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
}

