<div style="display:flex; width:100%; height:fit-content; overflow-x:auto; flex-direction:row; background-color:white; margin:1px;">
    @foreach(var tag in Tags)
    {
        <div class="tag-item">@tag.Name</div>
    }
    @if (Tags.Count() == 0)
    {
        <p style="text-align: center; align-items: center; justify-content: center; padding:5pxl">No tags present</p>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<TagModel> Tags { get; set; }
}
