@page "/bookLoader"

@inject IBookAnalysisClientService _bookAnalysisClientService
@inject IAppStorage appStorage
@inject IJSRuntime jsRuntime

<style>
    .class-test {
        /*display:block;*/
    }
</style>

<ErrorHandlerComponent ChildComponentName="Book Loader">
    <ChildContent>
            <div style="margin:15px">
@if (checkingIfLoaded)
{
    <h3>Loading...</h3>
}
else
{


@if (loadedBookAnalysis is null)
{
    @if (showErrorBox)
    {
        <div class="border p-4 text-danger">
            @errorContent
            <button @onclick="() => showErrorBox = false">X</button>
        </div>
    }

    @if (showLoadingAnalysis)
    {
        <p>Loading analysis...</p>
    }

    @if (loadingFile)
    {
        <p>Loading file...</p>
    }

    <p>Select book...</p>
    <p>
        <label>
            <InputFile OnChange="@LoadFiles" />
        </label>
    </p>

    @if (bookLoaded)
    {
        <button class="button-action" @onclick="() => LoadAnalysesFromServer(loadedBookHash)">Load Analyses From Server</button>

        if (showCreateAnalysisForm)
        {
            <button class="button-action" @onclick="() => showCreateAnalysisForm = false">Hide create new analysis form</button>
            <ErrorHandlerComponent ChildComponentName="Create new analysys">
                <ChildContent><CreateNewAnalysis loadedBookHash="@loadedBookHash" book="book" @bind-foundBookAnalyses="foundBookAnalyses" /></ChildContent>
            </ErrorHandlerComponent>
        }
        else
        {
            <button class="button-action" @onclick="() => showCreateAnalysisForm = true">Create new analysis for this book</button>
        }

        <ErrorHandlerComponent ChildComponentName="Book Analyses Listing">
            <ChildContent><FoundAnalysesListing @bind-selectedBookAnalysis="loadedBookAnalysis" foundBookAnalyses="foundBookAnalyses" /></ChildContent>
        </ErrorHandlerComponent>
        }
    }


    }
            </div>
    </ChildContent>
</ErrorHandlerComponent>
@code {
    private bool checkingIfLoaded = true;
    private bool awaitingResponse = false;
    private string bookAnalysisCreationResponseMessage = "";
    private bool bookAnalysisCreationSuccessful = true;
    private bool loadingFile = false;
    private bool bookLoaded = false;
    private bool showLoadingAnalysis = false;
    private bool showErrorBox = false;
    private string errorContent = "";
    private BookAnalysisDetailedModel loadedBookAnalysis;
    private EpubBook book = null;
    private byte[]? loadedBookByteArray;
    private string loadedBookHash = string.Empty;
    public List<BookAnalysisSummaryModel> foundBookAnalyses { get; set; } = new();

    private bool showCreateAnalysisForm = false;
    private BookAnalysisSummaryModel newAnalysis { get; set; } = new();

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        try
        {
            loadingFile = true;
            Stream stream = e.File.OpenReadStream(maxAllowedSize: 51200000);
            loadedBookByteArray = await ReadFully(stream);
            ReadBookHash();
            await appStorage.StoreBook(loadedBookByteArray, loadedBookHash);
            book = EpubReader.Read(loadedBookByteArray);
            bookLoaded = true;
            loadingFile = false;
            await jsRuntime.InvokeVoidAsync("reRenderNavMenu");
            await LoadAnalysesFromServer(loadedBookHash);
        }
        catch (Exception ex)
        {
            errorContent = "Failiure loading file. " + ex.Message;
            showErrorBox = true;
        }
    }

    private async Task LoadAnalysesFromServer(string loadedBookHash)
    {
        showLoadingAnalysis = true;
        try
        {
            foundBookAnalyses = await _bookAnalysisClientService.GetAnalysesByHash(loadedBookHash);
        }
        finally
        {
            showLoadingAnalysis = false;
        }
    }

    private async Task<byte[]> ReadFully(Stream input)
    {
        byte[] buffer = new byte[32 * 1024];
        using (MemoryStream ms = new MemoryStream())
        {
            int read;
            while ((read = await input.ReadAsync(buffer, 0, buffer.Length)) > 0)
            {
                await ms.WriteAsync(buffer, 0, read);
            }
            return ms.ToArray();
        }
    }

    private void ReadBookHash()
    {
        SHA256 sha256 = SHA256.Create();
        byte[] hashValue = sha256.ComputeHash(loadedBookByteArray);
        string hashString = BitConverter.ToString(hashValue).Replace("-", "");
        loadedBookHash = hashString;
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            if (await appStorage.BookIsStored())
            {
                loadingFile = true;

                loadedBookHash = await appStorage.GetStoredBookHash() ?? string.Empty;
                loadedBookByteArray = await appStorage.GetStoredBook() ?? null;

                if (!string.IsNullOrEmpty(loadedBookHash) && loadedBookByteArray is not null)
                {
                    book = EpubReader.Read((byte[])loadedBookByteArray);
                    bookLoaded = true;
                    await LoadAnalysesFromServer(loadedBookHash);
                }
                loadingFile = false;
                await jsRuntime.InvokeVoidAsync("reRenderNavMenu");
            }
            checkingIfLoaded = false;
            StateHasChanged();
        }
    }
}
